# 100 Days of Python by Campus X

Guido's Vision & Philosophy: 
<p>Guido van Rossum conceived Python in the late 1980s to prioritize code readability and developer productivity, guided by the principles of simplicity and clarity in "The Zen of Python."<p>

Versatility Across Domains:
<p>Python's versatility is evident in its applications across web development, data science, AI, automation, and scripting, making it a preferred language for a wide range of tasks.<p>

Accessibility and Learning:
<p>Python's beginner-friendly syntax and readability facilitate easy learning, contributing to its widespread adoption in educational settings and as a starting point for new programmers.<p>

Community-Driven Development:
<p>Python's vibrant community and open-source model have fueled its growth, resulting in a rich ecosystem of libraries, frameworks, and tools that continually enhance the language.<p>

Python 2 to 3 Transition:
<p>In 2008, Python underwent a significant transition from Python 2 to 3, reflecting a commitment to addressing inconsistencies and modernizing the language.<p>

Abundant Standard and Third-Party Libraries:
<p>Python's robust standard library and extensive third-party packages simplify development by offering pre-built modules, reducing the need to build from scratch.<p>

Surging Popularity:
<p>Python's popularity has consistently risen, securing its place among the top programming languages, appealing not only to developers but also to scientists, engineers, and professionals in various fields.<p>

Industry Giants and Python:
<p>Major companies like Google, Facebook, and Dropbox leverage Python for critical projects, showcasing its adaptability and making it a go-to language in the tech industry.<p>

Adaptability and Industry Alignment:
<p>Python's adaptability aligns well with industry demands, contributing to its widespread adoption and use in critical projects across diverse sectors.<p>

Continuous Evolution:
<p>Python's continuous evolution through regular updates and improvements ensures its relevance in the ever-changing technological landscape, solidifying its position as a powerful and versatile programming language.<p><p>

 # 1.  Day 1 The print function

In [3]:
print("Hello world")

Hello world

In [4]:
print(10)

10

In [5]:
print('Ahmed')

Ahmed

In [6]:
print("pak","Japan")

pak Japan

In [8]:
print(False)

False

In [10]:
print(True)

True

In [12]:
print("pak","Japan", sep='/')

pak/Japan

In [13]:
print("pak","Japan", sep='-')

pak-Japan

In [14]:
print("hELLO",end=' ')
print("world")

hELLO world

#  2. Data Types in Python

python supports 3 data types
Basic Types (integer, float, complex , boolean and string)
container types (List , Tuples, sets and Dictionary)
user defined types - (class)

In [16]:
#integer
print(4)
print(1e309)

4
inf

In [17]:
#float
print(4.5)
print(1.7e308)

4.5
1.7e+308

In [18]:
#boolean
print(True)
print(False)

True
False

In [19]:
#complex
print(4+5j)

(4+5j)

In [22]:
#string
print("Ahmed")
print('Ali')
print("""Ahmed khan""")

Ahmed
Ali
Ahmed khan

In [23]:
#list
print([1,2,3])

[1, 2, 3]

In [24]:
#tuple
print((1,2,3))

(1, 2, 3)

In [25]:
#sets
print({1,2,3})

{1, 2, 3}

In [27]:
#dictionary 
print({"Name":"Ahmed","Age":22,"gender":'Male'})

{'Name': 'Ahmed', 'Age': 22, 'gender': 'Male'}

# 3.  comments in Python

comments video 3

In [28]:
#comments
#A piece of code that compiler will not execute
#To understand code

#  4. Variables in python

In [29]:
name = "Ahmed Ali khan"

In [30]:
print(name)

Ahmed Ali khan

In [31]:
#No variable deceleration

In [32]:
#Its called Dynamic typing in which we dont have to specify a data type
#static typing in which we have to specify a data type

In [33]:
print(name)

Ahmed Ali khan

In [34]:
name = 4
print(name)

4

In [35]:
name = True
print(name)

True

In [36]:
#Dynamic Binding

In [37]:
# special syntac
a=5; b=6 ; c=7
print(a)

5

In [38]:
a,b,c=3,5,6
print (a,b,c)

3 5 6

#  5. Keywords in Python 33

In [1]:
#python has 33 key words
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
#key words are the pre defined words that have a specific purpose defined by the developer of the language

# 6. Identifiers

In [3]:
# A python identifier is a name used to identify a variable , function, class , module or object

In [4]:
# = "Ahmed"
print(#)

SyntaxError: incomplete input (2160247686.py, line 2)

In [5]:
name = "Ahmed"
print(name)

Ahmed

In [6]:
my_var = 'Raja Ahmed Ali khan'

In [ ]:
print(my_var)

In [8]:
#you cant use key word as a identifier

# 7. Taking user input in python

In [9]:
# clock is a static applications 
# calander software

#Dynamic softwares in which there is a 2 way communication example "Youtube and all what we use today"

In [11]:
name = input ('Enter Your name \n')

Enter Your name
Ahmed Ali

In [ ]:
print("My name is " + name)

In [19]:
first_num = input("Enter the first name")
second_num = input ("Enter the second number")

Enter the first name100
Enter the second number10

In [20]:
result = first_num + second_num
print(result)

10010

In [21]:
# type function
type(4)

int

# 8. Type conversion

In [22]:
# implicit type conversion when automatically conversion is done
# explicit type conversion when programmer have to do conversion as needed

In [23]:
# implicit type conversion example
4+5.5

9.5

In [24]:
5+6+7j

(11+7j)

In [25]:
first_num + second_num

'10010'

In [26]:
# we use builtin functions to perform  explicit conversion

In [27]:
int('45')

45

In [28]:
int(43.4)

43

In [29]:
float(4)

4.0

In [34]:
str(5)

'5'

In [35]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [37]:
complex(4)

(4+0j)

In [38]:
#type conversion is not a permanent operating
#while type casting is a permanent operation

In [40]:
num_1 = input("Enter number 1:")
num_2 = input("Enter number 2:")
result = int(num_1) + int(num_2)
print(result)

Enter number 1:11
Enter number 2:111
122

In [41]:
num_1 = int(input("Enter number 1:"))
num_2 = int(input("Enter number 2:"))
result = num_1 + num_2
print(result)

Enter number 1:11
Enter number 2:22
33

# 9. Literals in Python

Literal is raw data given in a variable. Types are as following <br>
<b> i.  Numeric literals <br>
ii. string literals <br>
iii. Boolean literals<br>
iv. Special literals<br> <b>
    ------------------------------------

<b> i. Numeric Literals

In [46]:
a= 0b10101 #binary
b = 100 #decimal
c= 0o310 #Octal
d= 0x12c #hexadecimal
print(a,b,c,d)

21 100 200 300

In [47]:
#float literals
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3
print(float_1,float_2,float_3)

10.5 150.0 0.0015

In [49]:
#complex literals
x = 3.14j
print(x, x.imag, x.real)

3.14j 3.14 0.0

<b> ii. string literals

In [54]:
string = 'Ahmed'
strings = "Im Ahmed"
char = "A"
multiLinestring = """This is Ahmed Ali notebook
and im doing 100 days of python"""
unicode = u"\U0001f600"
raw_str = r"raw \n string"
print(string, strings, char, multiLinestring,unicode, raw_str)

Ahmed Im Ahmed A This is Ahmed Ali notebook
and im doing 100 days of python 😀 raw \n string

<b> iii. boolean Literals <b>

In [55]:
a= True +1
print(a)

2

In [56]:
b= False + 11
print(b)

11

<b> iv. Special Literals <b>

In [58]:
a = None
print(a)

None

In [61]:
c= 34+45
#variable deceleration 
k = None

# 10. Operators In Python

Operators are used to perform operations on variables <br>
<b>
    1. Arithmetic Opetators  <br>
    2. Comparisions opeartors <br>
    3. Logic operators <br>
    4. Bitwise operators <br>
    5. Assignment operators <br>
    6. Identity Operators <br>
    7. Membership Operators<br>
 <b>

In [62]:
#Arithmetic Opetators
x = 5
y = 2
print(x+y)

7

In [67]:
print(x-y)

3

In [68]:
print(x*y)

10

In [69]:
print(x/y)

2.5

In [70]:
print(x%y)

1

In [71]:
#power of
print(x**y)

25

In [72]:
#integer division
print(x//y)

2

In [73]:
# 2. Comparision Operators
print(x>y)

True

In [74]:
print(x<y)

False

In [75]:
print(x>=y)

True

In [76]:
print(x<=y)

False

In [77]:
print(x==y)

False

In [78]:
print(x!=y)

True

In [79]:
#Logical Operators

In [80]:
x= True
y= False
print(x or y)

True

In [81]:
print(x and y)

False

In [82]:
print(not y)

True

In [83]:
print(not x)

False

In [85]:
#Bitwise operators
#Always work on binary vales

In [86]:
x = 2
y= 3

In [87]:
print(x & y)

2

In [88]:
print (x | y)

3

In [89]:
print(x >> 2)

0

In [90]:
print(y<< 3)

24

In [91]:
print(~x)

-3

In [92]:
#Assignment operator

In [93]:
a = 3
print(a)

3

In [95]:
a+= 3

In [96]:
print(a)

6

In [97]:
a-=3
print(a)

3

In [98]:
a*=3
print(a)

9

In [99]:
#Identity operators
a = 3
b = 3
print(a is b) # so they are identical

True

In [100]:
a = "hello"
b = "Hello"
print( a is b)

False

In [101]:
a = [1,2,3]
b = [1,2,3]
print(a is b)

False

In [102]:
a = "hello-world"
b= "hello-world"
print(a is b)

False

In [105]:
# Membership operator
x = " Delhi"
print ("D" not in x)

False

In [106]:
print("D" in x)

True

In [107]:
print("Del" in x)

True