# tuple/sets/dictionary/Problems <br>

1. Tuples

In [4]:
#creating a Tuple
T1 = () #Empty tuple
T1

()

In [6]:
#Homogenous
T2=(1,2,3,4,5)
T2

(1, 2, 3, 4, 5)

In [7]:
#Hetrogenous
T3 =("Hello",1,2,3)
T3

('Hello', 1, 2, 3)

In [9]:
#2D Tuples
T4 = (1,2,(3,4))
T4

(1, 2, (3, 4))

In [10]:
#single item tuple
T5 = ("Hello",)
T5

('Hello',)

In [11]:
type(T5)

tuple

In [12]:
T6= tuple("Khuiratta")

In [13]:
T6

('K', 'h', 'u', 'i', 'r', 'a', 't', 't', 'a')

In [14]:
#How to access items from Tuple
T2[0]

1

In [15]:
T2[0:4]

(1, 2, 3, 4)

In [16]:
T4[-1][0]

3

In [17]:
#Editing a list
#You cnt change

In [18]:
#Deleting a tuple
#You cnt dlt a single item

In [19]:
#Operations on Tuples
# 1. concetnate
T2+T3

(1, 2, 3, 4, 5, 'Hello', 1, 2, 3)

In [20]:
T2*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [21]:
for i in T2:
    print(i)

1
2
3
4
5

In [22]:
1 in T2

True

In [23]:
#Functions in Tuples
min(T2)

1

In [24]:
max(T2)

5

In [25]:
sum(T2)

15

In [26]:
sorted(T2)

[1, 2, 3, 4, 5]

In [27]:
sorted(T2,reverse=True)

[5, 4, 3, 2, 1]

Tuples are read only data type where data integrity is important <br>

# sets

1. Dont have duplicates <br>
2. Have no indexing or slicing <br>
3. sets dont allow mutable data types <br>
4. set itself is a mutable data types<br>

In [28]:
#creating a set
s1 = {}
type(s1)

dict

In [30]:
#empty set
set()
type(set())

set

In [31]:
#homogenous
s1 = {1,2,3,4}

In [32]:
#hetrogenous
s2 ={"Hello",4,5,True}

In [33]:
#Dont have duplicates
s3= {1,1,2,2,3,3,4}
s3

{1, 2, 3, 4}

In [38]:
#sets dont allow mutable data types
s4 = {[1,2,3],"hello"}

TypeError: unhashable type: 'list'

In [36]:
s4 ={(1,2,3),"Hello"}

In [39]:
s4

{(1, 2, 3), 'Hello'}

In [40]:
#Have no indexing or slicing
#instead they follow a technique hashing
#2D,3D sets are not possible

In [41]:
#How to access items
s1[0]

TypeError: 'set' object is not subscriptable

In [42]:
# we also cant edit items
s1

{1, 2, 3, 4}

In [43]:
id(s1)

1742345557984

In [44]:
L=list(s1)

In [45]:
L

[1, 2, 3, 4]

In [46]:
L[0]=100

In [47]:
L

[100, 2, 3, 4]

In [48]:
s1=set(L)

In [49]:
s1

{2, 3, 4, 100}

In [50]:
id(s1)

1742347536864

In [51]:
# We can add items 
s1.add(6)

In [52]:
s1

{2, 3, 4, 6, 100}

In [53]:
id(s1)

1742347536864

In [54]:
s1.add(8)

In [55]:
s1

{2, 3, 4, 6, 8, 100}

In [56]:
id(s1)

1742347536864

In [57]:
#Delete
#del/remove/pop
del s1[0]

TypeError: 'set' object doesn't support item deletion

In [58]:
s1.remove(100)

In [59]:
s1

{2, 3, 4, 6, 8}

In [60]:
s1.pop()

2

In [61]:
s1

{3, 4, 6, 8}

In [62]:
# SET OPERATIONS

In [63]:
s1 = {1,2,3,4}
s2 = {3,4,5,6,7}

In [64]:
#no concatenation
#no multiplication

In [66]:
#Looping work
for i in s1:
    print(i)

1
2
3
4

In [67]:
#Membership is available
1 in s1

True

In [68]:
#functions
len(s1)

4

In [69]:
max(s1)

4

In [70]:
min(s1)

1

In [71]:
sum(s1)

10

In [72]:
sorted(s1)

[1, 2, 3, 4]

In [73]:
sorted(s1,reverse=True)

[4, 3, 2, 1]

In [74]:
#functions specific to sets

In [75]:
#union of sets
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [76]:
s1.intersection(s2) #ntersection of sets

{3, 4}

In [77]:
s1.difference(s2)

{1, 2}

In [78]:
s1.symmetric_difference(s2)

{1, 2, 5, 6, 7}

In [79]:
s1.isdisjoint(s2)

False

In [82]:
s1.issubset(s2)

False

In [83]:
s1.issuperset(s2)

False

# Dictionary

In [84]:
{"name":"Ahmed","Gender":"Male"}

{'name': 'Ahmed', 'Gender': 'Male'}

Rule no 1 : Dict has no indexing <br>
Rule no 2: Mutable data type<br>
Rule no 3: keys should always be mutable values can be and cnt be mutable<br>
Rule no 4: Keys should be unique

1. Mutable = List/sets/dictionary
2. Immutable = string/tuples/boolean/int/float/complex

In [85]:
D ={}

In [86]:
D

{}

In [87]:
D1 = {"name":"Ahmed","Gender":"Male"}

In [88]:
D1

{'name': 'Ahmed', 'Gender': 'Male'}

In [89]:
D2 = {[1,2,3],"Ahmed"}

TypeError: unhashable type: 'list'

In [90]:
D2 = {(1,2,3),"Ahmed"}

In [91]:
D2

{(1, 2, 3), 'Ahmed'}

In [92]:
#no same keys
D3 = {"name":"ahmed","name":"Ali"}

In [94]:
D3

{'name': 'Ali'}

In [95]:
# 2D Dictionary
D4 = {"name":"Ahmed","University":"UOK","Marks":{"Math":56,"English":"76"}}

In [96]:
D4

{'name': 'Ahmed', 'University': 'UOK', 'Marks': {'Math': 56, 'English': '76'}}

In [98]:
# Dict has no indexing
D4['name']

'Ahmed'

In [99]:
#How to access 2D
D4['Marks']

{'Math': 56, 'English': '76'}

In [100]:
D4['Marks']['Math']

56

In [101]:
#How to edit
D4['name']="Raja"

In [102]:
D4

{'name': 'Raja', 'University': 'UOK', 'Marks': {'Math': 56, 'English': '76'}}

In [107]:
D4['Marks']['Math']=87

In [108]:
D4

{'name': 'Raja',
 'University': 'UOK',
 'Marks': {'Math': 87, 'English': '76', 'Maths': 87}}

In [109]:
D4.get('Marks')

{'Math': 87, 'English': '76', 'Maths': 87}

In [110]:
#Add new key values pairs
D4['age']=22

In [111]:
D4

{'name': 'Raja',
 'University': 'UOK',
 'Marks': {'Math': 87, 'English': '76', 'Maths': 87},
 'age': 22}

In [112]:
D4['Marks']['Data science']=98

In [113]:
D4

{'name': 'Raja',
 'University': 'UOK',
 'Marks': {'Math': 87, 'English': '76', 'Maths': 87, 'Data science': 98},
 'age': 22}

In [114]:
#How to delete

In [115]:
D4

{'name': 'Raja',
 'University': 'UOK',
 'Marks': {'Math': 87, 'English': '76', 'Maths': 87, 'Data science': 98},
 'age': 22}

In [120]:
del D4['name']

In [121]:
D4

{'University': 'UOK',
 'Marks': {'Math': 87, 'English': '76', 'Maths': 87, 'Data science': 98}}

In [122]:
#Operations

In [123]:
D4

{'University': 'UOK',
 'Marks': {'Math': 87, 'English': '76', 'Maths': 87, 'Data science': 98}}

In [124]:
#no concatenation
#no multiplication

In [125]:
#Loop works
for i in D4:
    print(i)

University
Marks

In [126]:
for i in D4:
    print(i,D4[i])

University UOK
Marks {'Math': 87, 'English': '76', 'Maths': 87, 'Data science': 98}

In [127]:
"UOK" in D4

False

In [128]:
"University" in D4

True

In [129]:
#Functions

In [130]:
len(D4)

2

In [131]:
min(D4)

'Marks'

In [132]:
max(D4)

'University'

In [133]:
#sum will not work on this

In [134]:
#sorted
sorted(D4)

['Marks', 'University']

In [135]:
#\to get all keys
D4.keys()

dict_keys(['University', 'Marks'])

In [137]:
#to get all keys
D4.values()

dict_values(['UOK', {'Math': 87, 'English': '76', 'Maths': 87, 'Data science': 98}])